img {
  width: 300px;
  height: auto;
}
.jumbotron {
background-color: rgb(183, 192, 181);
border: 2px black;
margin: 10px;
font-weight: bold;
font-family: 'Franklin Gothic Medium';
}
.jumbotron h1 {
color: black;
}

body {
  background-color: #0066b2;
 background: linear-gradient(180deg, #89CFF0 25%, #0000FF 55% )
}
.card {
  background-color: rgb(183, 192, 181);
  border: 2px black;
  margin: 10px;
  font-family: 'Franklin Gothic Medium';
}

.hightlight {
  font-size: large;
  font-weight: bold;
}

.card img {
  float: left;
  margin:15px;
}

.card-title {
  font-weight: bold;
}

