img {
  width: 300px;
  height: auto;
}
.jumbotron {
background-color: rgb(150, 167, 147);
border: 2px black;
margin: 10px;
font-weight: bold;
font-family: 'Franklin Gothic Medium';
}
.jumbotron h1 {
color: black;
}
 
.jumbotron img {
  width: 800px;
  height: auto
}
body {
  background-color: #0066b2;
 background: linear-gradient(180deg, #89CFF0 25%, #0000FF 55% )
}
.card {
  background-color: rgb(150, 167, 147);
  border: 2px black;
  margin: 10px;
  font-family: 'Franklin Gothic Medium';
}

.hightlight {
  font-size: large;
  font-weight: bold;
}

.card img {
  float: left;
  margin:15px;
}

.card-title {
  font-weight: bold;
}

.banner {
  display:flex;
  flex-direction:row;
  justify-content: center;
  width: 98%;
  padding: 25px;
  border:solid black;
  border-width: 20px;
  margin-bottom: 10px;
  background-color: white;
  box-sizing: border-box;
}

.banner img {
  align-items: center;
  width:600px;
  height:auto;
}